<div class="container mt-5">
    @if(productDetail()) {
    <div class="col-md-3 back-button">
        <button mat-raised-button color="warn" routerLink="/">Back</button>
    </div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title> Identifier: </mat-panel-title>
                <mat-panel-description> {{ productDetail().id }} </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
            <mat-expansion-panel-header>
                <mat-panel-title> Show {{panelOpenState() ? 'less details' : 'more details'}} </mat-panel-title>
            </mat-expansion-panel-header>
            <p><b>Title: </b>{{ productDetail().title }}</p>
            <p><b>Price: </b>{{ productDetail().price }}€</p>
            <p><b>Description: </b>{{ productDetail().description }}</p>
            <p><b>Category: </b>{{ productDetail().category }}</p>
            <p><b>Rate: </b>{{ productDetail().rating.rate }}</p>
            <p><b>Count: </b>{{ productDetail().rating.count }}</p>
            <img src="{{ productDetail().image }}" alt="Product Image">
        </mat-expansion-panel>
    </mat-accordion>
    }
</div>